/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

/* UTILITIES */
.container {
    margin: 0 auto;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* TEXT UTILITIES */
.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.hover-underline:hover {
    text-decoration: underline;
}

/* BACKGROUNDS */
.bg-type-1 {
    background-color: #fff;
}

.bg-type-2 {
    background-color: #b4d0e7;
}

.bg-type-3 {
    background-color: #000;
}

/* BUTTONS */
.btn-type-1 {
    padding: 8px 16px;
    font-weight: 600;
    color: #fff;
    background-color: #0061ff;
}

.btn-type-1:hover {
    background-color: steelblue;
}

.small-btn {
    font-size: 16px;
}

.medium-btn {
    font-size: 20px;
}

/* DEBUG */
.bg-debug-1 {
    background-color: red;
}

.bg-debug-2 {
    background-color: seagreen;
}

.debug-box {
    height: 100px;
}

/* HEADER - NAV */
header {
    position: fixed;
    top: 0;
    height: 80px;
    border-bottom: 1px solid #d0d0d3;
    z-index: 1;
}

header nav li {
    display: inline-block;
    position: relative;
    height: 80px;
    line-height: 80px;
    padding: 0 21px;
}

header nav li:hover {
    cursor: pointer;
}

header nav li img {
    position: relative;
    top: 23%;
    transform: translateY(-50%);
}

header nav li.link a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

header nav li.link:hover {
    border-bottom: 3px solid #000;
}

/* BANNER SECTION */
.banner {
    position: relative;
    top: 80px;
}

.banner h1 {
    padding: 100px 0 50px;
    font-size: 84px;
    font-weight: 700;
}

.banner .jumbo-l {
    padding-right: 100px;
}

.banner p {
    font-size: 20px;
    font-weight: 500;
}

.banner a {
    display: inline-block;
}

.banner .fa-arrow-down {
    font-size: 48px;
}