/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p > a {
    text-decoration: underline;
}

h1 {
    padding: 100px 0 50px;
    font-size: 84px;
    font-weight: 700;
}

h2 {
    font-size: 42px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
}

img {
    width: 100%;
}

/* UTILITIES */
.container {
    margin: 0 auto;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.mx-5per {
    margin: 0 5%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-150 {
    margin-bottom: 150px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-140 {
    padding-top: 140px;
}

.pr-50 {
    padding-right: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-140 {
    padding-bottom: 140px;
}

/* TEXT UTILITIES */
.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.lh-16 {
    line-height: 1.6;
}

.hover-underline:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

/* BACKGROUNDS */
.bg-type-1 {
    background-color: #fff;
}

.bg-type-2 {
    background-color: #b4d0e7;
}

.bg-type-3 {
    background-color: #f5f5f5;
}

.bg-type-4 {
    background-color: #000;
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-weight: 600;
}

.btn:hover {
    text-decoration: none;
}

li > a.btn {
    display: inline;
}

.btn-type-1 {
    color: #fff;
    background-color: #0061ff;
}

.btn-type-1:hover {
    background-color: steelblue;
}

.btn-type-2 {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.btn-type-3 {
    color: #000;
    background-color: #fff;
}

.small-btn {
    font-size: 16px;
}

.medium-btn {
    font-size: 20px;
}

/* HEADER - NAV */
header {
    position: fixed;
    top: 0;
    height: 80px;
    border-bottom: 1px solid #d0d0d3;
    z-index: 1;
}

header nav > ul > li {
    display: inline-block;
    position: relative;
    height: 80px;
    line-height: 80px;
    margin: 0 21px;
    list-style-type: none;
}

header nav li:hover {
    cursor: pointer;
}

header nav li img {
    position: relative;
    top: 23%;
    transform: translateY(-50%);
}

header nav li.link a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

header nav li.link > a:hover {
    text-decoration: none;
}

header nav li.link:hover {
    border-bottom: 3px solid #000;
}

header nav li.link > ul {
    position: absolute;
    visibility: hidden;
    transform: translate(0, -100%);
    opacity: 0;
    transition: opacity .3s, transform .3s, visibility .3s;
    left: -21px;
    width: auto;
    padding: 50px;
    white-space: nowrap;
    list-style: none;
    line-height: initial;
}
/* A seconda delle proprietà, si può lavorare sul tipo di transizione dare all'effetto di hover del dropdown. */

header nav li.link:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

header nav li.link > ul > li {
    margin-bottom: 30px;
}

header nav li.link > ul > li:last-of-type {
    margin-bottom: 0;
}

/* JUMBO SECTION */
.jumbo {
    position: relative;
    top: 80px;
}

.jumbo .jumbo-l {
    padding-right: 100px;
}

.jumbo p {
    font-size: 20px;
    font-weight: 500;
}

.jumbo .fa-arrow-down {
    font-size: 48px;
}

/* MAIN SECTION */
/* RADIO INPUT (BILL) */
#plans label {
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
    line-height: 25px;
    font-size: 18px;
    cursor: pointer;
}

#plans input {
    position: absolute;
    opacity: 0;
}

#plans .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #d5d5d8;
    border-radius: 50%;
}

#plans label:hover .checkmark {
    border: 0;
    box-shadow: 0 0 5px 1px #0061ff inset;
}

#plans input:checked ~ .checkmark {
    border: 0;
    box-shadow: 0 0 0 5px #0061ff inset;
}


/* PLAN BOX */
.plan-box-container .plan-box {
    min-height: 1105px;
}
/* Questa proprietà accrocchio è per dare alle colonne tutte la stessa altezza, ma non è flessibile! */

.plan-box {
    border: 1px solid #d0d0d3;
}

.plan-box .category {
    border-bottom: 1px solid #d0d0d3;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
}

.plan-box .description {
    padding: 40px 30px 0;
}

.plan-box .price > * {
    line-height: 30px;
}

.plan-box .price span {
    color: #637381;
}

.plan-box .description .fa-ul {
    margin-left: 1.7em;
}

.plan-box .description li {
    margin-bottom: 30px;
}

.plan-box .description .small-btn {
    width: 100%;
    text-align: center;
}

.plan-box .description .buy-now {
    color: #0a67ff;
    text-decoration: underline;
}

.plan-box .description .buy-now:hover {
    color: royalblue;
}

.plan-box .description .fa-check {
    color: #0a67ff;
}

.plan-box .description hr {
    border-top: 0;
    border-bottom: 1px solid #d0d0d3;
    width: 20%;
}

/* SECTION "OUR CUSTOMERS" */
a.our-customers {
    display: inline-block;
    color: #0664ff;
    text-decoration: underline;
}

#our-customers .logos > div {
    width: 50%;
    padding: 25%;
    float: left;
    position: relative;
}

#our-customers .logos img {
    position: absolute;
    transform: translate(-50%, -50%) scale(50%);
    filter: invert(1);
}

#our-customers .bg1 {
    background-color: #a2d39b;
    box-shadow: 0 0 0 12px #d0e9cd inset; /* Questa proprietà dovrebbe essere data allo stato di hover... */
}

#our-customers .bg2 {
    background-color: #61082b;
}

#our-customers .bg3 {
    background-color: #0093ce;
}

#our-customers .bg4 {
    background-color: #ff1c1c;
}

#our-customers .bg5 {
    background-color: #d5001f;
}

#our-customers .bg6 {
    background-color: #b4d0e7;
}

#our-customers .bg7 {
    background-color: #0d2481;
}

#our-customers .bg8 {
    background-color: #ffd830;
}

#our-customers .quote-box {
    padding: 50px;
}

#our-customers hr {
    width: 10%;
    border-top: 1px solid #dedee0;
    border-bottom: 0;
}

/* SECTION "TRIAL" */
#trial h2 {
    color: #61082b;
    padding-right: 100px;
}

/* SECTION "FAQ" */
#faq .container > * {
    border-bottom: 1px solid #dcdcde;
}

#faq .question {
    position: relative;
}

#faq h6 {
    padding: 30px 0;
}

#faq h6::after {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    position: absolute;
    right: 30px;
}

#faq .question:hover h6::after {
    content: '\f077';
}

#faq .question p {
    display: none;
    padding-bottom: 30px;
}

#faq .question:hover p {
    display: block;
    cursor: pointer;
}

/* FOOTER */
footer,
footer li a {
    color: #fff;
}

footer h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

footer li {
    list-style: none;
    margin-bottom: 10px;
}

footer .upper-footer {
    padding: 100px 0;
}

footer hr {
    border-top: 0;
    border-bottom: 1px solid #fff;
    width: 10%;
}

footer .bottom-footer {
    padding: 50px 0;
    color: #5e5e5e;
    font-size: 14px;
}

footer .fa-sort-up {
    vertical-align: middle;
}